# Ignore node_modules in both client and server
node_modules/
client/node_modules/
server/node_modules/

# Logs
*.log

# Environment variables
.env

# Build files
client/build/
server/build/

# Other common files to ignore
.DS_Store
